html, body {
    overflow-x: hidden;
}

body {
    direction: rtl;
    background-color: #F9FBFF;
    font-family: Dana;
}
.text-justify{
    text-align: justify;
}
.object-fit{
    object-fit: cover;
}
.neg-margin-top{
    margin-top: -5rem;
}
.transparent{
    opacity: 0.3;
}
.z-top{
    z-index: 2;
}
.pt-nav{
    padding-top: 80px;
}
.gap-6{
    gap: 6rem!important;
}
.max-width-25{
    max-width: 28px;
}
.vh-65{
    height: 65vh;
}
.lazy{
    transition: all 0.3s ease-in-out;
}
.no-border-first:first-child{
    border-right: none!important;
}
.no-border-last:last-child{
    border-left: none!important;
}
